.link-url-card {
  color: inherit;
  font-weight: 800;
}

.error-image-inno {
  position: relative;
  top: -50px;
}



.carousel-caption {
    bottom: 20% !important;
}

.ui-form-input {
    background-color: inherit;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
}

.ui-form-check {

}
